/* definindo regras */
@charset "UTF-8";
@font-face {
    font-family: Myriad Pro;
    src: url(../Fontes/myriadPro/);
}
/* Definindo estilo */

body {
    font-family: "Myriad Pro", Helvetica, sans-serif;
    background-color: rgb(241, 249, 255);
    color: black;
}

h5 {
    font-family: Arial;
}