@charset "UTF-8";
@font-face {
    font-family: MyriadPro-regular;
    src: url(../Aula11/Fontes/myriadPro/MYRIADPRO-REGULAR.OTF);
}

body {
    font-family: "MyriadPro-regular";
    background-image: linear-gradient(90deg,#0964A4,#1EA1E7,#2DB1BF);
}

main {
    width: 500px;
    background-color: white;
    /* margin: auto; para centralizar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 40px black;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 3px 5px 25px black,
                -3px -5px 25px black;

}


h2 {
    text-align: center;
    /* GRADIENTE NO TEXTO */
    background: linear-gradient(90deg,#2DB1BF,#0964A4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



